.title-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-align: center;
    position: fixed;
    height: auto;
    width: auto;
    max-width: 13vw;
    top: 10vh;
    right: 0.5vw;
    background-color: #4f0147;
    border-radius: 14px;
    padding: 5px 5px 5px 5px;
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 5px 5px 5px 5px;
    margin: 2px;
    border-radius: 10px;
    font-size: 20px;
    fill: gray;
    color:white;
    opacity: 0.9;
}
.icon-box:hover {
    background: gray;
    opacity: 0.9;
}
.no-margins {
    left: 0px;
    bottom: 0px;
    margin: 0px;
    overflow: hidden;
    position: fixed;
    background-color: #11001c;
}
.fixed-background {
    margin: 0;
    left: 0px;
    top: 0px;
    position: fixed;
    overflow: hidden;
    text-align: center;
}
.scroll {
    top: 0;
    left: 0;
    position: fixed;
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    pointer-events: all;
}
.message-box {
    left: 50vw;
    top: 5vh;
    position: relative;
    width: 57vw;
    height: auto;
    transform: translate(-50%, 0);
    display: flex;
    padding: 10px 30px 20px 30px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: left;
    opacity: 0.9;
    border-radius: 20px;
    background-color: darkslategray;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 2.75vmin;
    pointer-events: all;
}
.email-message {
    left: 50vw;
    top: 20vh;
    position: fixed;
    width: auto;
    height: auto;
    transform: translate(-50%, 0);
    display: flex;
    padding: 10px 9px 10px 12px;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    text-align: left;
    border-radius: 20px;
    background-color: rgb(153, 74, 74);
    border: 3px solid black;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 2vmin;
    pointer-events: all;
}
.spacer{
    height: 10vh;
    width: inherit;
    top: auto;
    position: relative;
    pointer-events: none;
}
.top-level{
    top: 10%;
    left: 0px;
    width: 100vw;
    height: 90vh;
    margin: 0;
    position: fixed;
}
.selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.canvas {
    pointer-events: none;
}