.title-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    overflow: hidden;
    text-align: center;
    position: fixed;
    height: auto;
    width: 11vw;
    max-width: 50px;
    top: 10vh;
    right: 0.5vw;
    border-radius: 14px;
    padding: 5px 5px 5px 5px;
}
.switch-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 3px;
    margin: 2px;
    border-radius: 10px;
    font-size: 20px;
    fill: gray;
    color:white;
    opacity: 0.9;
    cursor: pointer;
}
.icon-box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    padding: 4px 5px 4px 5px;
    margin: 2px;
    border-radius: 10px;
    font-size: 20px;
    fill: gray;
    color:white;
    opacity: 0.9;
}
.icon-box:hover {
    background: gray;
    opacity: 0.9;
}