.my-work {
    height: auto;
    width: 60vw;
    table-layout: fixed;
    border: 5px solid black;
    border-radius: 14px;
    margin-bottom: 20px;
    align-content: center;
    align-items: center;
    background-color: #4f0147;
    margin: 15px;
}
.cell-container {
    width: auto;
    background-color: transparent;
}
.cell-container:hover {
    background-color: white;
    color: black;
    opacity: 0.5;
}
.cell-icon {
    opacity: 1;
}