.my-work {
    width: 50vw;
    max-width: 600px;
    table-layout: fixed;
    border: 5px solid black;
    border-radius: 14px;
    margin: 15px;
    background-color: #4f0147;
}
table {
    height: 100%;
}
tr {
    height: 100%;
}
td {
    height: 100%;
}
.cell-container{
    height: 90%;
    background-color: transparent;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.cell-container:hover {
    background-color: white;
    color: black;
    opacity: 0.5;
}
.cell-icon {
    opacity: 1;
}