.my-work {
    width: 58vw;
    max-width: 450px;
    table-layout: fixed;
    border: 5px solid black;
    border-radius: 14px;
    margin: 15px;
    padding: 0px;
    background-color: #4f0147;
    font:auto SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
}
table {
    height: 100%;
    margin: 0px;
}
tr {
    height: 100%;
    margin: 0px;
}
td {
    height: 100%;
    margin: 0px;
}
.cell-container{
    height: 100%;
    width: 100%;
    background-color: transparent;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border: none;
    margin: 0px;
}
.cell-container:hover {
    background-color: white;
    color: black;
    opacity: 0.5;
}
.cell-icon {
    opacity: 1;
    padding-top: 10px;
    height: auto;
    width: auto;
}
.cell-text {
    position: relative;
    left: 0;
    top: 0;
    width: 98%;
    height: 28%;
    margin: 2px;
    padding: 0px;
    opacity: 1;
    background-color: darkslategray;
    border-radius: 8px;
    z-index: 500;
    display: table;
    text-align: center;
    vertical-align: middle;
}
.cell-text b {
    display: table-cell;
    vertical-align: middle;
    font-size: 1vw;
}